<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->


<!-- Mirrored from 5.189.146.92/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Jun 2018 07:26:32 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!--====== USEFULL META ======-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content= "Pillars Of Governance - Decentralized Scholar Council, Challenge Card, Dynamic Resume, Challenges, POI Rating. Introducing a Hybrid Knowledge Economy powered by ' Desire Lines Of Individuals and Wisdom Of The Crowd ' " />
    <meta name="keywords" content="innovation enterprise challenges,innovation and entrepreneurship challenges,innovation policy challenges for the 21st century,challenges for innovation,innovation global challenges,innovation & design for grand challenges,innovation hub challenges,innovation healthcare challenges,hosting innovation challenges,innovation challenges in large companies,innovation key challenges,innovation challenges logistics,innovation challenges marketing,innovation management challenges,innovation challenges mission innovation,innovation funnel management challenges,innovation challenges new,netflix innovation challenges,innovation challenges online,innovation organizational challenges,open innovation challenges,open innovation challenges 2019,challenges innovation process,innovation system challenges,social innovation challenges,service innovation challenges,innovation team challenges,open innovation technology challenges,challenges to innovation,technology innovation challenges,top innovation challenges,upcoming innovation challenges,world innovation challenges,innovation challenges 2020,online competitions for students,online competition for students 2019,online competitions for students with certificates 2019,online competitions for students in india 2019,online competitions in india,online competition form,online competitions for engineering students,online competition to earn money,online competition for students,online competition for students in india,online competition tayari,online competition and win prizes,online competition and travel contests,online competition app,online competition analysis,online competition architecture,online competition and win money,online art competition,online abacus competition,the competition online free,create an online competition,running an online competition,online competition business,online competition banner,online competition classes,online competition creator,online competition cash prize,online coding competition,online c competition,online competition draw,online competition definition,online debate competition,online drawing competition for students,online competition earn money,online competition games for android,online competition generator,online guitar competition 2019,online game competition for money,online g.k competition,online competition holiday,online handwriting competition 2018,online hacking competition,online handwriting competition,online handwriting competition 2019,online html competition,online hindi competition,online hackathon competition,online competition in india,online competition ideas,online competition india 2019,competition online jobs,online java competition,online javascript competition,online jigsaw competition,online journalism competition,online coding competition job,online karaoke competition,online general knowledge competition,online competition list,online logo competition,online ludo competition,online competition math,online competition music,online competition maker,online competition management,online competition now,online news competition,online quiz competition now,pick n pay online competitions,online competition of painting,online competition of photography,online competition of typing,online vs offline competition,online competitions for school students in india 2019,online competition preparation,online competition platform,online competition programming,online competition prizes,online quiz competition for money,online quiz competition 2019,online quiz competition with certificate 2019,online quiz competition in india with prizes,online competition rules,online competition registration,online competition reviews,online rowing competition,online retail competition,online rap competition,online racing competition,online competition singing,online competition software,online competition sites,online competition scoreboard,online competition scoring system,online competition to win prizes,online competition to win money,online competition to win laptop in india,online competition terms and conditions,online university competition,online competition voting system,online competition video,online vocal competition,online violin competition,online vocabulary competition,online voice competition,online photo competition voting,online competition with prizes,online competition with participation certificate,online competition website,online competition winner generator,online competition win money,online competition worldwide,online competition winners,online competition win trip,online competition wheel,online competition 2019,online competition 2019 india" />

    <!--====== TITLE TAG ======-->
    <title>Scholar Credits | Helping Wisdom Go Viral</title>

    <!--====== FAVICON ICON =======-->
    <link rel="shortcut icon" href="assests/img/sclogo.png" />

    <!--====== STYLESHEETS ======-->
    <link href="assests/css/plugins.css" rel="stylesheet">
    <link href="assests/css/theme.css" rel="stylesheet">
    <link href="assests/css/icons.css" rel="stylesheet">

    <!--====== MAIN STYLESHEETS ======-->
    <link href="css/style.css" rel="stylesheet">
    <link href="assests/css/responsive.css" rel="stylesheet">

    <script src="assests/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
        @media only screen and (max-width: 800px) {
    .logo {
        width : 22% !important;

    }
}
        </style>
</head>

<body data-spy="scroll" data-target=".mainmenu-area" data-offset="90">

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--- PRELOADER -->
    <div class="preeloader">
        <!-- <div class="preloader-spinner"></div> -->
        <img src="assests/img/sclogo_nw.gif" alt="loader" style="width: 100px;margin-left: 636px;margin-top: 278px;">
    </div>

    <!--SCROLL TO TOP-->
    <a href="#scroolup" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
    <header class="top-area" id="home">
        <div class="header-top-area" id="scroolup">
            <!--MAINMENU AREA-->
            <div class="mainmenu-area" id="mainmenu-area">
                <div class="mainmenu-area-bg"></div>
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="#home" class="navbar-brand"><img src="assests/img/sclogo.png" class="logo" width="65" height="65"   alt="logo"></a>
                        </div>
                        <div id="main-nav" class="stellarnav">
                            <ul id="nav" class="nav navbar-nav pull-right">
                              <li><a>Explore</a>
                              <ul class="dropdown-menu">
                                <li><a href="#challenges">Challenges</a></li>
                                <li><a href="#brands">Our Partners</a></li>
                                <li><a href="#faqs">FAQs</a></li>
                              </ul>
                            </li>
                                  <li><a>Post Challenges</a>
                                  <ul class="dropdown-menu">
                                    <li><a href="/Sdashboard">Company Login</a></li>
                                    <li><a href="#">University Login</a></li>
                                  </ul>
                                </li>

                              <li><a href="/Mdashboard">Mentor Login</a></li>
                             <li><a href="/dashboard">Solve Challenges</a></li>

                                <li><a >Join Scholar Council</a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">Scholar Council Members</a></li>
                                  <li><a href="#">Become Campus Ambassador</a></li>
                                  <li><a href="#">Order Premium Scholar Kit</a></li>
                                </ul>
                                </li>


                                <!-- <li class="nav navbar-nav dropdown-toggle" data-toggle="dropdown">Explore
                              <ul class="dropdown-menu">
                                <li><a href="#challenges">Challenges</a></li>
                                <li><a href="#">Brands</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Scholar Council</a></li>
                              </ul>
                              </li> -->
                                <!-- <li><a href="#features">Features</a></li> -->
                                <!-- <li><a href="#challenges">Challenges</a></li> -->
                                <!-- <li><a href="#testmonial">Testmonial</a></li>
                                <li><a href="#blog">Blog</a></li>
                                <li><a href="#faqs">Faqs</a></li> -->
                                <!-- <li><a href="#contact">Contact</a></li> -->
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--END MAINMENU AREA END-->
        </div>

        <!--WELCOME SLIDER AREA-->
        <div class="welcome-slider-area white font16">
            <div class="welcome-single-slide">
                <div class="slide-bg-one slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <h1>Develop a passion for learning new things.</h1>
                                    <p>Solve skill based challenges to get industry exposure and build your talent brand by getting your intelligence benchmarked</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-single-slide">
                <div class="slide-bg-two slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <h1>Host Challenges to offer Learning & Earning opportunities to Scholars</h1>
                                    <p>Create a Challenge today to offer a learning or earning opportunity to students & professionals worldwide </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-single-slide">
                <div class="slide-bg-three slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <h1>Wisdom Gets Viral</h1>
                                    <p>Pillars of Governance - Decentralised Scholar Council, Scholar Credit Card, Dynamic CV, Challenges and POI Rating</p>
                                    <div class="home-button">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="welcome-single-slide">
                <div class="slide-bg-four slide-bg-overlay"></div>
                <div class="welcome-area">
                    <div class="container">
                        <div class="row flex-v-center">
                            <div class="col-md-8 col-lg-7 col-sm-12 col-xs-12">
                                <div class="welcome-text">
                                    <h1>Become a campus ambassador</h1>
                                    <p>Win exciting rewards, certificates and cash prizes</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--WELCOME SLIDER AREA END-->
    </header>
    <!--END TOP AREA-->

    <!--FEATURES TOP AREA-->
    <section class="features-top-area" id="features">
        <div class="container">
            <div class="row promo-content">
                <h2 style="text-align: center">For  Companies</h2>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.1s">
                        <div class="box-icon features-box-icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <h3 class="box-title">Register your Company</h3>
                        <p>Get your Company listed to get exposure among our worldwide community of web developers, digital marketers, content writers ,video makers , translators , social media marketers. Scholar Community Manager will get in touch with you and conceptualize challenge creation strategy.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb20 xs-mb0  wow fadeInUp padding30" data-wow-delay="0.2s">
                        <div class="box-icon features-box-icon">
                            <i class="icofont icofont-business-man-alt-1"></i>
                        </div>
                        <h3 class="box-title">Host  Challenges </h3>
                        <p>Challenge will be hosted and sent to all the members of our Scholar Council in different colleges and companes to increase participation. Applicants and their submission will be further reviewed.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.3s">
                        <div class="box-icon features-box-icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <h3 class="box-title">Issue Rewards and Certificates</h3>
                        <p>Issue different badges/ certifictes and Reward Tokens for the completed challenges on the basis of quality of submissions. </p>
                    </div>
                <!-- </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30 visible-sm" data-wow-delay="0.4s">
                        <div class="box-icon features-box-icon">
                            <i class="fa fa-cog"></i>
                        </div>
                        <h3 class="box-title">Quality Service</h3>
                        <p>A Google Docs scam that appears to be widespread began landing in Wednesday in what seemed to be a phishing attack.</p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <br><br><br><br><br>
     <section class="features-top-area" id="features">
            <div class="container">
                <div class="row promo-content">
                    <h2 style="text-align: center">For Scholars / Students</h2>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.1s">
                            <div class="box-icon features-box-icon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <h3 class="box-title">Register yourself on the platform</h3>
                            <p>Search and apply for relevant challenges hosted by different companies on our platform.</p>
                          </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box relative mb20 xs-mb0  wow fadeInUp padding30" data-wow-delay="0.2s">
                            <div class="box-icon features-box-icon">
                                <i class="icofont icofont-business-man-alt-1"></i>
                            </div>
                            <h3 class="box-title"> Submit Solutions </h3>
                            <p>Submit the solutions once you are shortlisted according to the given time frame to get it reviewed & evaluated by the  reviewers. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.3s">
                            <div class="box-icon features-box-icon">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <h3 class="box-title">Earn Rewards and Certificates</h3>
                            <p>Wait for the result date and collect incentives and certificates as per the directives mentioned on the challenge page. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30 visible-sm" data-wow-delay="0.4s">
                            <div class="box-icon features-box-icon">
                                <i class="fa fa-cog"></i>
                            </div>
                            <h3 class="box-title">Quality Service</h3>
                            <p>A Google Docs scam that appears to be widespread began landing in Wednesday in what seemed to be a phishing attack.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--
        <br><br><br><br><br>
        <section class="features-top-area" id="features">
            <div class="container">
                <div class="row promo-content">
                    <h2 style="text-align: center">For Colleges & Universities</h2>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.1s">
                            <div class="box-icon features-box-icon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <h3 class="box-title">Create Scholarship Challenges</h3>
                            <p> Colleges & Universities can promote themselves by hosting specific scholarship/financial aid programs for intelligent and deserving students on the platform which can increase their worldwide reach  </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box relative mb20 xs-mb0  wow fadeInUp padding30" data-wow-delay="0.2s">
                            <div class="box-icon features-box-icon">
                                <i class="icofont icofont-business-man-alt-1"></i>
                            </div>
                            <h3 class="box-title"> Review Submissions </h3>
                            <p> After getting the submissions on the challenges, the solutions can be reviewed by the universities and community members alike and they can give remarks in the form of POI Ratings</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.3s">
                            <div class="box-icon features-box-icon">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <h3 class="box-title">Disburse Scholarships/Financial Aid</h3>
                            <p> Scholarships or Financial Aid in the form of Scholar Credits or Cash are awarded to the students on the basis of their performance in the respective Challenges  </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30 visible-sm" data-wow-delay="0.4s">
                            <div class="box-icon features-box-icon">
                                <i class="fa fa-cog"></i>
                            </div>
                            <h3 class="box-title">Quality Service</h3>
                            <p>A Google Docs scam that appears to be widespread began landing in Wednesday in what seemed to be a phishing attack.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    <!--FEATURES TOP AREA END-->

    <!--ABOUT TOP CONTENT AREA-->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="text-center wow fadeIn">
                        <h2 class="xs-font20">Scholar Credits is trusted by 2,000+ people for finding Learning & Earning Opportunities</h2>
                        <p> We bring together a very exciting credit ecosystem for mapping education & employment opportunities in a way never imagined before. Our state of the art Proof-Of-Intelligence infrastructure allows employers to benchmark talent by hosting challenges, universities in promoting their courses by offering financial aid/scholarships and students & professionals in building their talent brand on a global scale</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT TOP CONTENT AREA END-->

    <!--FUN FACT AREA AREA-->
    <section class="fun-fact-area center white relative padding-100-70" id="fact">
        <div class="area-bg" data-stellar-background-ratio="0.6"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.1s">
                        <h3 class="font60 xs-font26"><span class="counter">2000</span>+</h3>
                        <p class="font600">Students & Professionals</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.2s">
                        <h3 class="font60 xs-font26"><span class="counter">100</span>+</h3>
                        <p class="font600">Companies</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.3s">
                        <h3 class="font60 xs-font26"><span class="counter">500</span>+</h3>
                        <p class="font600">Challenges</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.4s">
                        <h3 class="font60 xs-font26">₹<span class="counter">100000</span>+</h3>
                        <p class="font600">Rewards & Prizes</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FUN FACT AREA AREA END-->

    <!--CHALLENGES AREA-->
    <section class="course-area padding-top" id="challenges">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2 class="xs-font26">CHALLENGES</h2>
                    </div>
                </div>
            </div>
            <div class="row course-list">
                <% Challenge.forEach((challenges)=>{ %>
               <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-course mb20">
                        <!-- <img src="assests/img/course/blog-1.jpg" alt=""> -->
                        <% if(challenges.Category == 'A'){ %>
                            <img  src="categories/marketing.png" style="width:200px;height:200px;"  alt="">
                            <% } else if(challenges.Category == 'B') { %>
                            <img src="categories/analytics.jpg"  style="width:200px;height:200px;"  alt="">
                            <% } else if(challenges.Category == 'C') { %>
                            <img  src="categories/business.jpg"  style="width:200px;height:200px;" alt="">
                            <% } else if(challenges.Category == 'D') { %>
                            <img  src="categories/sales.jpg"     style="width:200px;height:200px;" alt="">
                            <% } else if(challenges.Category == 'E') { %>
                            <img  src="categories/communication.png" style="width:200px;height:200px;"  alt="">
                            <% } else if(challenges.Category == 'F') { %>
                            <img  src="categories/web.jpg"  style="width:200px;height:200px;" alt="">
                            <% } else if(challenges.Category == 'G') { %>
                            <img  src="categories/web.jpg"  style="width:200px;height:200px;" alt="">
                            <% } else if(challenges.Category == 'H') { %>
                            <img  src="categories/business.jpg"   style="width:200px;height:200px;" alt="">
                            <% } else if(challenges.Category == 'I') { %>
                            <img  src="categories/blockchain.jpg" style="width:200px;height:200px;" alt="">
                            <% } %>
                        <div class="course-details padding30">
                            <h3 class="font18"><%= challenges.Name.substring(0,25) + " ..." %></h3>
                            <p><%= challenges.Description.substring(0, 150) + "..." %></p>
                            <p class="mt30"><a href="/viewchallenge/<%= challenges._id %>" class="enroll-button">Know More</a> <span class="course-price"></span></p>
                        </div>
                    </div>
                </div>
                 <% }) %>

                </div>
            </div>
        </div>
    </section>


        <!--COMPANIES AREA-->
        <section class="course-area padding-top" id="brands">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                        <div class="area-title text-center wow fadeIn">
                            <h2 class="xs-font26">Companies</h2>
                        </div>
                    </div>
                </div>
                <div class="row course-list">
                    <% Startup.forEach((startup)=>{ %>
                   <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                        <div class="single-course mb20">
                            <!-- <img src="assests/img/course/blog-1.jpg" alt=""> -->
                                 <img  src="<%=startup.ProfileImage%>" style="width:200px;height:200px;"  alt="">

                            <div class="course-details padding30">
                                <h3 class="font18"><%= startup.Name.substring(0,25) + " ..." %></h3>
                                <p><%= startup.About.substring(0, 150) + "..." %></p>
                                <p class="mt30"><a href="/viewstartup/<%= startup._id %>" class="enroll-button">Read More</a> <span class="course-price"></span></p>
                            </div>
                        </div>
                    </div>
                     <% }) %>

                    </div>
                </div>
            </div>

            </div>
        </section>
    <!--COURSE AREA END-->

    <!--ABOUT AREA-->
    <section class="section-padding about-area" id="about">
        <div class="container">
            <div class="row flex-v-center">
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="about-content xs-mb50 wow fadeIn">
                        <h3 class="xs-font20 mb30">Education is the foundation upon which we build our future. Let's build it together.</h3>
                        <p>The system of education and learning adopted traditionally don't seem to be working for the people in this technical era where the world is more connected than ever imagined before in history. Slowly, the centralised systems of rewarding intelligence is becoming old-fashioned. Millenials and Professionals in this age need fast growth in their career and instant reward for their work. There is an alarming need to devise a unified system in this globally connected world which works fairly for all. Intelligence thriving around needs to be benchmarked and rewarded properly to create a better future for the students and professionals seeking to fasttrack their career in 21st century.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12">
                    <div class="video-promo-details wow fadeIn">
                        <div class="video-promo-content">
                            <span data-video-id="K7LryNh3n3g" class="video-area-popup mb30"><i class="fa fa-play"></i></span>
                        </div>
                        <img src="assests/img/about/about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT AREA END-->
    <!-- OUR VALUES AREA -->
      <section class="faqs-area padding-100-50" id="values">
          <div class="container">
              <div class="col">
                  <div class="row-md-12 row-lg-12 row-sm-12 row-xs-12">
                      <div class="area-title text-center wow fadeIn">
                          <h2>OUR VALUES</h2>

                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="row-md-4 row-lg-4 row-sm-6 row-xs-12">

      <h3 class="box-title" data-toggle="collapse" data-target="#about1" style="font-family:verdana;cursor:default;" title="Click for Answer">• Inclusivity & Diversity</h3>
      <div id="about1" class="collapse">
      <p>We believe in inclusivity and diversity across the board, no exceptions. We welcome you no matter your gender preference, race, religion, sexuality, body type, background or beliefs. We’re part dreamer, misfit, and non-conformist.</p>
      <p>We also recognize that living the Scholar’s life is a privilege that not everyone can access. We do our very best to keep our prices fair and have offered scholarships in the past. </p><br>
      </div>

      <h3 class="box-title" data-toggle="collapse" data-target="#200" style="font-family:verdana;cursor:default;" title="Click for Answer">• Community & Belonging</h3>
        <div id="200" class="collapse">
         <p>We believe in building a supportive community for each other in all the places we visit and experience. That means creating a safe, positive place where connectivity and belonging is nurtured.</p>
         <pWhen you come with us, you become part of the Scholar Council. This is a lifetime membership and, just like your relationship with your best friend, you can’t get away from us, even if you try.</p><br>
        </div>

      <h3 class="box-title" data-toggle="collapse" data-target="#300" style="font-family:verdana;cursor:default;" title="Click for Answer">• Growth</h3>
        <div id="300" class="collapse">
        <p>If you’re not growing, you’re dying.
            We’re a community of doers. We want to contribute to the world. Sometimes that means 12-hour days bringing our side hustle to life, and some days that looks like 4 quality hours working with our remote team, or staring into the distance dreaming up the idea for our new novel.
            What’s important to our community is that you want to work hard, and that you value what you’re creating.</p><br>
        </div>

      <h3 class="box-title" data-toggle="collapse" data-target="#400" style="font-family:verdana;cursor:default;" title="Click for Answer">• Commitment</h3>
        <div id="400" class="collapse">
        <p>Don’t worry, we’re not about to get all kumbaya on you. We believe human brains and human hearts make great things when they come together, which is why we put an emphasis on sharing ideas, stories and projects at Scholar Council Meetups & Events.</p>
        <p>We’ve had Scholars build apps together, start businesses together, travel the world together, and even get married and produce some pretty freaking adorable kids for all the Scholar aunties and uncles to spoil together.</p>
        <p>Being part of Scholar Credits  is to make a commitment to be present, and to support one another.</p><br>
          </div>

        <h3 class="box-title" data-toggle="collapse" data-target="#500" style="font-family:verdana;cursor:default;" title="Click for Answer">• Adventure</h3>
          <div id="500" class="collapse">
          <p>Because life is too short! We’re willing to take risks, to walk into the unknown (even if we’re afraid), to explore this big, wild world.</p>
            <p>Whatever flavor your adventure is: we’re down with it. Wanna swim with the whale sharks? We’ll grab our wetsuits. Need a buddy to go to the town’s hottest nightclub? Pass the glitter. Want to walk through fire? We’re behind you.</p><br>
        </div>


        <h3 class="box-title" data-toggle="collapse" data-target="#600" style="font-family:verdana;cursor:default;" title="Click for Answer">• Realness & Authenticity</h3>
            <div id="600" class="collapse">
            <p>YAAAS KWEEEN. Like Ru Paul, realness is important to us. We champion open, honest communication and enjoy cutting through the bullshit.</p>
            <p>We don’t want you to have to pretend to be someone else. We want you to show up and be your whole self (even if you’re not quite sure what your whole self is). Those who want you to be someone you are not can sashay away.</p><br>
          </div>

        <h3 class="box-title" data-toggle="collapse" data-target="#700" style="font-family:verdana;cursor:default;" title="Click for Answer">• Progressive Thinking</h3>
            <div id="700" class="collapse">
            <p>We’re unabashedly progressive in our view on the world. We believe in a connected world and we believe we all have a role to play in moving forward as a global society. We don’t believe in partisanship, nationalism, or protectionism. We have a vision of what’s possible, and it starts with kindness and connection. </p><br>
          </div>


        <h3 class="box-title" data-toggle="collapse" data-target="#800" style="font-family:verdana;cursor:default;" title="Click for Answer">• Creativity</h3>
          <div id="800" class="collapse">
            <p>The poet Rilke said, “Where I create, there I am true.”</p>
            <p>We believe in empowering creative thought. Whether you’re a coder or an author, an architect or an artist, we believe that creativity connects us to a sense of play and curiosity.</p>
            <p>We’re entrepreneurial, creative thinkers.</p><br>
          </div>

        <h3 class="box-title" data-toggle="collapse" data-target="#900" style="font-family:verdana;cursor:default;" title="Click for Answer">• Pioneering</h3>
          <div id="900" class="collapse">
            <p>We believe in being active participants in the remote work revolution and, more than that, rebuilding the way society thinks about work, lifestyles, and how to form community. We don’t have all the answers, but Scholars are at the front lines trying to work them out, together.
          </p><br>
            </div>

              </div>
            </div>

              </section>
    <!--FAQS AREA END-->


    <!--FAQS AREA-->
    <section class="faqs-area padding-100-50" id="faqs">
        <div class="container">
            <div class="col">
                <div class="row-md-12 row-lg-12 row-sm-12 row-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Frequently Asked Questions</h2>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row-md-4 row-lg-4 row-sm-6 row-xs-12">

<h3 class="box-title" data-toggle="collapse" data-target="#demo1" style="font-family:verdana;cursor:default;" title="Click for Answer">1. THE BASICS</h3>
  <div id="demo1" class="collapse">

  <h3 class="box-title" data-toggle="collapse" data-target="#ans1" style="cursor:default;" title="Click for Answer">1.1 What is Scholar Credits ?</h3>
  <div id="ans1" class="collapse">
    <p>Scholar Credits is a Challenge Creation & Evaluation Framework created for the companies and brands to effectively manage their remote working programs by carefully adjusting their remote jobs into Challenge Card Modules. Our community of international remote working professionals that travel the world together for weeks or months at a time. We make remote working fun, fulfilling, and fearless.</p>
    <p>Let us help you spend more time doing what you love (working and traveling differently) and spend less time doing what you hate (logistics, planning, building a community from scratch every time you switch locations).</p><br>
  </div>

  <h3 class="box-title" data-toggle="collapse" data-target="#2" style="cursor:default;" title="Click for Answer">1.2 What is Scholar Council ?</h3>
  <div id="2" class="collapse">
    <p>Scholar Council is the decentralized association of our leaders formed to look after the management and governance of the whole community at Scholar Credits. It consists of an automated team rewarding framework called, “House Of Cards” where members within our whole ecosystem compete and collaborate on different projects to collect Scholar Credits which is used to attain different colored houses which gets unlocked with varying level of achievements during your whole journey within the Scholar Credits Ecosystem.</p><br>
  </div>

  <h3 class="box-title" data-toggle="collapse" data-target="#3" style="cursor:default;" title="Click for Answer">1.3 Who can join Scholar Council ?</h3>
  <div id="3" class="collapse">
    <p>Anyone with remote work, a positive attitude, and an adherence to our #NOASSHOLES RULE is welcome to join us. We’ve had participants of all ages, from 6 continents, some families, some companies, and even a dog travel with us!</p>
    <p>Maybe you have a full-time job, or work freelance or spend time building out a passion project. Maybe you just had a crazy life change and are on sabbatical, figuring out your next big thing. As long as you have something to work on during the day and can enthusiastically abide by our #NOASSHOLES RULE, we’d love to have you come into work and travel with us </p><br>
  </div>

  <h3 class="box-title" data-toggle="collapse" data-target="#4" style="cursor:default;" title="Click for Answer">1.4 How does a typical challenge trip look like?</h3>
  <div id="4" class="collapse">
    <p>We’re big into inclusivity, diversity, and community. We know what it’s like to travel solo and instead, WE PREFER TO WORK AND TRAVEL IN THIS GROUP of like-minded professionals who are available for all night game nights, early morning coffee runs before a video call in another timezone, and weekend side trips to a neighboring country.</p>
    <p>A typical trip has two facilitators who arrive to the location before you and leave after you to insure check in, coworking, wifi, and check out is a breeze and everything is up to snuff. On trip, they plan weekly activities, post daily schedules of optional events such as Monday weekly lunches, Tuesday night potluck, and Thursday night workshops.</p>
    <p>Workshops can be on anything are participants are experts in. We’ve had everything from chair dancing workshops to cryptocurrency workshops. We also pair participants randomly for a weekly ‘donut buddy’ so they can get to know each other in a one-on-one setting.  Many usually grab coffee or lunch together, but some have gone parasailing or snorkeling together. And we are happy to say after 5 years of business, we have also had OUR FIRST #DONUTBUDDY WEDDING! Seriously.</p>
    <p>To see and read more about our trips, check out OUR INSTAGRAM or PROFESSIONAL DEVELOPMENT page.</p><br>
  </div>

  <h3 class="box-title" data-toggle="collapse" data-target="#5" style="cursor:default;" title="Click for Answer">1.5 What industry is best for remote work?</h3>
  <div id="5" class="collapse">
    <p>Engineers, graphic designers, entrepreneurs, project managers, data scientists, and marketing specialists number among our more common industries, but it doesn’t stop there. Our alumni includes translators, copywriters, a sex toy creator (yes, really) professional hackers, illustrators, and photographers.</p>
    <p>From our experience, the tech industry is generally the most open to remote work, but we have a ton of alumni who work in other industries and have made remote work possible for themselves.</p>
    <p>We can partner with companies to bring entire teams or small companies on trip with us or even as a subsidized perks for an employee. CONTACT US if this sounds like something your company might be interested in.</p><br>
  </div>

    <h3 class="box-title" data-toggle="collapse" data-target="#6" style="cursor:default;" title="Click for Answer">1.6 What if I have a 9-5 job?</h3>
    <div id="6" class="collapse">
      <p>Not a problem at all. There are lots of tools out there to help you do your job remotely. In fact, we made an entire GUIDE ON HOW TO PITCH YOUR EMPLOYER to let you work remotely. Feel free to use however you wish.</p>
      <p>Most companies understand that remote working isn’t just for freelancers and entrepreneurs anymore, but if there is anything we can do to help your employer feel more comfortable with this, PLEASE REACH OUT.</p><br>
    </div>


      <h3 class="box-title" data-toggle="collapse" data-target="#7" style="cursor:default;" title="Click for Answer">1.7 What if I have a different question?</h3>
      <div id="7" class="collapse">
      <p>GET IN TOUCH! Or better yet, sign up for a chat with us. Our video chats are 15-20 minutes, help put face to names, answer any questions, and help us get to know each other better to make sure we are the right fit. Some questions are just better asked and answered in person, and might lead to different questions, or seeing you on OUR NEXT TRIP!</p><br>
      </div>

  </div>


<h3 class="box-title" data-toggle="collapse" data-target="#demo2" style="font-family:verdana;cursor:default;" title="Click for Answer">2. APPLICATION PROCESS</h3>

<div id="demo2" class="collapse">

  <h3 class="box-title" data-toggle="collapse" data-target="#8" style="cursor:default;" title="Click for Answer">2.1 I’m so excited! Where do I sign up ?</h3>
  <div id="8" class="collapse">
  <p>ENTER YOUR DETAILS HERE and grab a time slot for a 15 min Skype chat with a Scholar Council member who can answer any questions about  joining the Scholar Credits Ecosystem.</p><br>
  </div>

  <h3 class="box-title" data-toggle="collapse" data-target="#9" style="cursor:default;" title="Click for Answer">2.2 Skype chat? What’s that for?</h3>
  <div id="9" class="collapse">
    <p>We want to gauge whether we’re the right fit for each other. We want to find out what your goals are, professionally and personally; what you’re passionate about; what motivates you; and what kind of person you are.
  </p>
  <p>We also want to make sure that you understand that while Scholar Credits Ecosystem is a place for people who want to travel and have fun, it is also a program for people to work, grow and develop themselves. If both parties think it’s a good fit, you’re in! You tell us WHICH TRIP YOU WANT TO GO ON and for how long.
  </p></br>
  </div>

    <h3 class="box-title" data-toggle="collapse" data-target="#10" style="cursor:default;" title="Click for Answer">2.3 Is the video call really necessary?</h3>
    <div id="10" class="collapse">
    <p>OUR COMMUNITY is what makes Scholar Council as strong as it is and the interview process is the first step in creating this comfortable and productive environment for everyone. It’s also the perfect time for either side to get all their questions answered, and to put a face to our names.</p><br>
</div>

  </div>

<h3 class="box-title" data-toggle="collapse" data-target="#demo3" style="font-family:verdana;cursor:default;" title="Click for Answer">3. OUR COMMUNITY</h3>

<div id="demo3" class="collapse">

  <h3 class="box-title" data-toggle="collapse" data-target="#11" style="cursor:default;" title="Click for Answer">3.1 What is the age range of Challenge trips?</h3>
  <div id="11" class="collapse">
  <p>We strongly believe in diversity of all kinds, and age is one of them. The majority of our participants are in their 20s, 30s, and 40s, but we’ve had people on our trip ranging from 18 to 60 years old plus a few families who brought their kids before. Our community is warm and welcoming–we all know age is just a number. But don’t take it from us, here’s what some of our participants HAVE HAD TO SAY.
  </p><br>
  </div>

  <h3 class="box-title" data-toggle="collapse" data-target="#12" style="cursor:default;" title="Click for Answer">3.2 What about male-to-female ratio?</h3>
  <div id="12" class="collapse">
    <p>As far as gender ratio, varies from trip to trip, but we do average  a 50/50 split and it’s never further from 40/60 either way.</p>
    <p>Another great way to see the people on our trips is to take a look at OUR INSTAGRAM, as all the photos are of and by people who travel with us!</p></br>
  </div>

    <h3 class="box-title" data-toggle="collapse" data-target="#13" style="cursor:default;" title="Click for Answer">3.3 How big are your trips?</h3>
    <div id="13" class="collapse">
    <p>Groups are typically 20-30 people. There is enough diversity within the group to find people who are interested in the same things as you, but the group is small enough that you still know everyone and the community doesn’t split into cliques.
</p><br>
</div>

    <h3 class="box-title" data-toggle="collapse" data-target="#14" style="cursor:default;" title="Click for Answer">3.4 What are the benefits being in higher houses at Scholar Council ?</h3>
    <div id="14" class="collapse">
    <p>Honestly, Scholar Council is one of the best perks that no one really understands until after they go on a trip. You are going to meet people who are your people. Knowing these people has a lot of benefits. When you join a Challenge trip, you become a PART OF OUR SCHOLAR COUNCIL, spread out across the world</p>
    <p>We stay in touch via our council’s Slack channel where we post jobs, banter about reality tv, and organize meetups all over the world. </p>
    <p>Scholars travel together, COLLABORATE ON PROJECTS, hire each other, and debate endlessly about useless things. People share resources about new cities or cool tech to travel with. They connect you with other people in their network.</p><br>
</div>

  </div>


<h3 class="box-title" data-toggle="collapse" data-target="#demo4" style="font-family:verdana;cursor:default;" title="Click for Answer">4. WORK AND PRODUCTIVITY</h3>

<div id="demo4" class="collapse">

  <h3 class="box-title" data-toggle="collapse" data-target="#15" style="cursor:default;" title="Click for Answer">4.1 What are the co-working spaces like?</h3>
  <div id="15" class="collapse">
  <p>Clean. Close by the apartments. And with fast, consistent, and strong internet.  Co-working space specifics vary from location to location, but one thing that doesn’t change is it’s a place for you to be productive and get shit done.</p>
<p>The coworking spaces we partner with generally have the fastest internet in the city. We pay special attention to make sure the internet is high quality, consistent, and reliable.  Sometimes we find ourselves working with a beach view and other times we’re in the heart of the city. Our co-working spaces have a range of facilities and setups for you to find something that will suit your work style.</p><br>
  </div>

  <h3 class="box-title" data-toggle="collapse" data-target="#16" style="cursor:default;" title="Click for Answer">4.2 Will I have everything I need to work effectively and productively?</h3>
  <div id="16" class="collapse">
  <p> Definitely. Work spaces are equipped with everything you need from solid internet (we’re re-emphasising this since everyone asks about it) to spacious setups and loads of power outlets. Another thing we factor in is close proximity to our housing, restaurants, and cafés so we don’t waste precious time commuting.
      We’ve had people write about how they are MORE PRODUCTIVE while they are with us. The facilitators are at hand to plan activities and solve problems that arise so you can focus on getting your work done.</p><br>
  </div>

    <h3 class="box-title" data-toggle="collapse" data-target="#17" style="cursor:default;" title="Click for Answer">4.3 Can you find work for me?</h3>
    <div id="17" class="collapse">
    <p> Unfortunately, we don’t provide jobs for Scholar Credits attendees, but we do know some great places to look. WEMOTE WORK, for example, is a free job board for remote workers that has matched people with jobs at Amazon, SalesForce, and Buffer, to name a few. Once you have secured a job, or a personal project to work on, GRAB A TIME SLOT to chat with us so we can figure out where you’ll join us!
    </p><br>
</div>

    <h3 class="box-title" data-toggle="collapse" data-target="#18" style="cursor:default;" title="Click for Answer">4.4 What can I work on?</h3>
    <div id="18" class="collapse">
    <p>You can work on anything you like! Most people spend their time doing their day job, but you can also work on a side project. You can use the members within our community as a sounding board for ideas brainstorming and improvements and we often have participants collaborate on projects.</p>
    <br>
</div>

  </div>

<h3 class="box-title" data-toggle="collapse" data-target="#demo5" style="font-family:verdana;cursor:default;" title="Click for Answer">5. TRAVEL AND ACCOMODATION</h3>

<div id="demo5" class="collapse">

  <h3 class="box-title" data-toggle="collapse" data-target="#19" style="cursor:default;" title="Click for Answer">5.1 What do I need besides a passport?</h3>
  <div id="19" class="collapse">
  <p>Make sure your passport is valid for at least 6 months after the last location on your itinerary. You also need your own flights to and from whichever location you are meeting up with us in. We can help you out if you need some advice for finding good flights. You also should get travel health insurance and double check with your doctor and the CENTER FOR DISEASE CONTROL AND PREVENTION to see if you need any vaccines before joining us. Check out our blog on CLEANING UP YOUR LIFE PRE-TRIP for more info on how to make the transition.</p><br>
</div>

  <h3 class="box-title" data-toggle="collapse" data-target="#20" style="cursor:default;" title="Click for Answer">5.2 How do we get around?</h3>
  <div id="20" class="collapse">
  <p>We structure our trip so you can easily walk between home, the coworking space, restaurants, bars, shops, and places of interest in town. We tend to travel to most places on foot, public transport or rideshare apps. Some places have local vendors that offer bicycle rental for people who like to cycle.
</p><br>
  </div>

    <h3 class="box-title" data-toggle="collapse" data-target="#21" style="cursor:default;" title="Click for Answer">5.3 What about international data?</h3>
    <div id="21" class="collapse">
    <p>We provide you with a loaded SIM card at no extra cost! Just make sure your phone is unlocked so you can pop it in and use it! We also recommend downloading WhatsApp before coming on a trip so you can communicate with your friends and family through that app using your real cell phone number, even while you will have an international number with a local SIM.</p><br>
</div>

    <h3 class="box-title" data-toggle="collapse" data-target="#22" style="cursor:default;" title="Click for Answer">5.4 What is the housing and accommodation like?</h3>
    <div id="22" class="collapse">
    <p>We stay in hotels and/or apartments where everyone gets their own private room. We never stay in hostels and would never make you share a room. We’re too old/fun for that. We make sure we have great accommodations with strong wifi in the best part of town because where and how you live is a huge part of the Challenge Trip experience.
       We also organize housekeepers to clean the apartments and change bed linen approximately once every two weeks.</p><br>
</div>

    <h3 class="box-title" data-toggle="collapse" data-target="#23" style="cursor:default;" title="Click for Answer">5.5 Is shared accommodation available for friends / couples / groups?</h3>
    <div id="23" class="collapse">
    <p>Absolutely. Unless specifically requested, the accommodation we provide is private. But If you’d like to share a bedroom (which can reduce the price by up to $1,000 USD a month!), all you need to do is ask and we can make arrangements.
      We’ve also had both families and groups travel with us, so if that is of interest to you, just let us know! Challenge trips are great for giving your team a big thank you for working so hard and inspire them. Talk to us to find out what kind of arrangements can be made and the discounts you can get by traveling and working together.
</p><br>
</div>

  </div>

<h3 class="box-title" data-toggle="collapse" data-target="#demo6" style="font-family:verdana;cursor:default;" title="Click for Answer">6. PRICING AND COMMITMENT</h3>
<div id="demo6" class="collapse">

  <h3 class="box-title" data-toggle="collapse" data-target="#24" style="cursor:default;" title="Click for Answer">6.1 How long do people stay?</h3>
  <div id="24" class="collapse">
  <p>We’ve had people travel with us for a year and we have other people that come for several months, then go on their own for a bit, then come back to join us for several more months. Other people just come for one trip at a time before figuring out their next trip to join.
    Our recommendation is to come for the entirety of a trip. Otherwise, it can feel like you’ve left the family party halfway through when there is so many more exciting things to come.
  </p>
  <p>We’ve worked out our pricing structure to accommodate this flexibility. The longer you stay, the cheaper the monthly rate is. That being said, if you’re only able to come for smaller chunks of time, we do have certain start and stop dates every two weeks from the beginning to the end of the trip. Also, 75% of our scholars have joined us on more than 1 trip, so don’t be surprised if once you join, you don’t want to stop.
</p><br>
</div>

  <h3 class="box-title" data-toggle="collapse" data-target="#25" style="cursor:default;" title="Click for Answer">6.2 How far in advance should I pay for my trip?</h3>
  <div id="25" class="collapse">
  <p>Generally 2 months in advance. We run out of spots for trips and want to make sure you get a spot before they are all gone!</p><br>
  </div>

    <h3 class="box-title" data-toggle="collapse" data-target="#26" style="cursor:default;" title="Click for Answer">6.3 What’s the refund policy?</h3>
    <div id="26" class="collapse">
    <p>Once you have paid, we start making plans for you to join us, which includes making payments for housing and coworking spots that we pay in advance, so we are not able to provide a full refund.</p><br>
</div>

    <h3 class="box-title" data-toggle="collapse" data-target="#27" style="cursor:default;" title="Click for Answer">6.4 What is a Challenge Trip ?</h3>
    <div id="27" class="collapse">
    <p>Challenge Trip is a custom designed itinerary for people to work remotely through carefully designed challenges and manage their work according to the set parameters of action.</p><br>
</div>

    <h3 class="box-title" data-toggle="collapse" data-target="#28" style="cursor:default;" title="Click for Answer">6.5 How much does a Challenge Trip cost?</h3>
    <div id="28" class="collapse">
    <p>Prices differ from trip to trip and also vary depending on how long you decide to spend traveling. You can generally expect to pay around $2000 USD per month. The longer you stay, THE BETTER PRICING YOU CAN GET.</p><br>
</div>

    <h3 class="box-title" data-toggle="collapse" data-target="#29" style="cursor:default;" title="Click for Answer">6.6 Is Scholar Credits tax deductible?</h3>
    <div id="29" class="collapse">
    <p>Many of our participants have been able to claim Challenge Trips as a business expense on their taxes. We recommend you talk to your personal tax accountant to learn more about your specific situation.</p><br>
</div>

  </div>

<h3 class="box-title" data-toggle="collapse" data-target="#demo7" style="font-family:verdana;cursor:default;" title="Click for Answer">7. EMERGENCIES AND SAFETY</h3>
<div id="demo7" class="collapse">

  <h3 class="box-title" data-toggle="collapse" data-target="#30" style="cursor:default;" title="Click for Answer">7.1 What happens in the case of a political disturbance? A natural disaster?</h3>
  <div id="30" class="collapse">
  <p>We are well versed and trained in both, and have a system in place for facilitators to work with our on-the-ground partners to identify and execute solutions that keep everybody safe and in-the-loop.</p><br>
</div>

  <h3 class="box-title" data-toggle="collapse" data-target="#31" style="cursor:default;" title="Click for Answer">7.2 What happens if I get ill on my trip?</h3>
  <div id="31" class="collapse">
  <p>Your facilitators are around 24/7 to help if there is any emergency that arises. They know the information for location hospitals, pharmacies, etc. in case something happens. Plus, you have your travel health insurance required by all participants which will help cover any cost. In terms of smaller issues, we provide you with resources before the trip so you can go to a pharmacy and buy some medication if you get the sniffles.</p><br>
  </div>



  </div>
                </div>
            </div>

            </div>

  </section>
    <!-- FAQ AREA END -->

        <!-- MENTORS COMPANY AREA -->
        <section class="contact-area sky-gray-bg" id="contact">
          <div class="contact-title wow fadeIn">
              <h3 class="font28 mb50 xs-mb30 xs-font22 xs-mt20" style="text-align:center">OUR MENTORS ARE FROM</h3><br>
              <div class="row course-list">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Dell_Logo.svg/1024px-Dell_Logo.svg.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://blog.hubspot.com/hubfs/image8-2.jpg" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://i.kinja-img.com/gawker-media/image/upload/s--L6iEaMpg--/c_scale,f_auto,fl_progressive,q_80,w_800/18z6kfsmghumxpng.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="http://media.corporate-ir.net/media_files/IROL/17/176060/Oct18/Amazon%20logo.PNG" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-AEW6WGWijYIkn_eYetBzGgkItf9X_MlRVsUHw15-StCEtwK-" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://nodesk.co/img/remote-company-logos/15five.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://nodesk.co/img/remote-company-logos/350.png" alt="company_image" style="height:120px;margin-right:20px">
                <img src="https://www.fico.com/sites/default/files/tata-partner-portal-logo.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://img.etimg.com/thumb/height-450,width-800,msid-63188441,imgsize-7032/hcl-tech-bags-it-deal-from-norways-statkraft.jpg" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://lnv.i.lithium.com/t5/image/serverpage/image-id/97470i5A6C34B07AD08894/image-size/large?v=1.0&px=999g" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsM2f-WqdTDI0vJQ-y5YYaoEaoBg4nj5kokii4mMzT5w56Ar55" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://images.firstpost.com/fpimages/1200x800/fixed/jpg/2017/05/Wipro_3801.jpg" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://nodesk.co/img/remote-company-logos/angellist.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://nodesk.co/img/remote-company-logos/apollo.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://nodesk.co/img/remote-company-logos/capsule.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://nodesk.co/img/remote-company-logos/litmus.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://nodesk.co/img/remote-company-logos/smugmug.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Samsung_Logo.svg/1280px-Samsung_Logo.svg.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://assets.mspimages.in/wp-content/uploads/2018/12/Xiaomi-logo-696x435.jpg" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://image.flaticon.com/icons/png/512/23/23656.png" alt="company_image" style="height:140px;margin-right:20px">


                  </div>


          <!--      <div class="imagescompany" style="margin:20px">

          </div> -->


              <br><br><br><br>
          </div>

        </section>

        <!-- STUDENTS SCHOOL AREA -->
        <section class="contact-area sky-gray-bg" id="contact">
          <div class="contact-title wow fadeIn">
              <h3 class="font28 mb50 xs-mb30 xs-font22 xs-mt20" style="text-align:center">OUR SCHOLARS ARE FROM</h3><br>
              <div class="row course-list">
                <img src="http://web.mit.edu/chosetec/www/origami/mensetmanus2/mitseal.jpg" alt="company_image" style="height:140px;margin-right:20px">
                <img src="http://www.pvamu.edu/honorsprogram/wp-content/uploads/sites/43/Harvard-Logo-large-20.jpg" alt="company_image" style="height:120px;margin-right:20px">
                <img src="https://assets.fontsinuse.com/static/use-media-items/53/52886/full-589x589/59355d3c/Oxford-University-square-logo.png?resolution=0" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/California_Golden_Bears_logo.svg/1200px-California_Golden_Bears_logo.svg.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/79/University_of_Chicago_shield.svg/1200px-University_of_Chicago_shield.svg.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="http://assets.manchester.ac.uk/logos/hi-res/TAB_UNI_MAIN_logo/White_backgrounds/TAB_col_white_background.jpg" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b5/DTU%2C_Delhi_official_logo.png/220px-DTU%2C_Delhi_official_logo.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Netaji_Subhas_University_of_Technology.svg/220px-Netaji_Subhas_University_of_Technology.svg.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="http://nitkkr.ac.in/docs/NITKKR_logo.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b8/GGSIU_logo.svg/1200px-GGSIU_logo.svg.png" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://www.iitr.ac.in/departments/ECE/uploads/Image/IITR%20New%20LOGO/IITR%20New%20Logo.jpg" alt="company_image" style="height:140px;margin-right:20px">
                <img src="https://www.iiitd.ac.in/sites/default/files/images/logo/logo.jpg" alt="company_image" style="height:140px;margin-right:20px">

                  </div>


          <!--      <div class="imagescompany" style="margin:20px">

          </div> -->


              <br><br><br><br><br><br>
          </div>

        </section>

    <!--CONTACT US AREA-->
    <section class="contact-area sky-gray-bg" id="contact">
        <div class="container-fluid no-padding">
            <div class="row">
                <div class="no-padding col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="map-area relative col-sm-12" style="width:85%;height:500px">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.898557211365!2d77.21710411450793!3d28.542768682453307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce219d4000001%3A0x5d28ee0f5523ef49!2sEdumonk+Foundation!5e0!3m2!1sen!2sin!4v1528189183457" style="margin-left:200px;" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <!-- <div id="map" style="width: 100%; height: 600px;">
                        </div> -->
                    </div>
                </div>
                <div class="no-padding col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="contact-form-content padding50 xs-padding20">
                        <div class="contact-title wow fadeIn">
                            <h3 class="font28 mb50 xs-mb30 xs-font22 xs-mt20">Any question in mind? Don’t Worry Contact Us.</h3>
                        </div>
                        <div class="contact-form wow fadeIn">
                            <form action="/enquiry"  method="POST">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <div class="form-group" id="name-field">
                                            <div class="form-input">
                                                <input type="text" class="form-control" id="form-name" name="Name" placeholder="Name.." required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <div class="form-group" id="email-field">
                                            <div class="form-input">
                                                <input type="email" class="form-control" id="form-email" name="Email" placeholder="Email.." required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group" id="phone-field">
                                            <div class="form-input">
                                                <input type="text" class="form-control" id="form-phone" name="Subject" placeholder="Subject..">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group" id="message-field">
                                            <div class="form-input">
                                                <textarea class="form-control" rows="6" id="form-message" name="Message" placeholder="Your Message Here..." required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group mb0">
                                            <input type="submit" class="btn btn-primary">
                                        </div>
                                    </div>
                                </form>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--CONTACT US AREA END-->



    <!--FOOTER AREA-->
    <footer class="footer-area sky-gray-bg relative">

        <div class="footer-bottom-area white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="footer-copyright text-center wow fadeIn">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Edumonk Foundation</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--FOOER AREA END-->


    <!--====== SCRIPTS JS ======-->
    <script src="assests/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assests/js/vendor/bootstrap.min.js"></script>

    <!--====== PLUGINS JS ======-->
    <script src="assests/js/vendor/jquery.easing.1.3.js"></script>
    <script src="assests/js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <script src="assests/js/vendor/jquery.appear.js"></script>
    <script src="assests/js/owl.carousel.min.js"></script>
    <script src="assests/js/stellar.js"></script>
    <script src="assests/js/waypoints.min.js"></script>
    <script src="assests/js/jquery.counterup.min.js"></script>
    <script src="assests/js/wow.min.js"></script>
    <script src="assests/js/jquery-modal-video.min.js"></script>
    <script src="assests/js/stellarnav.min.js"></script>
    <script src="assests/js/placeholdem.min.js"></script>
    <script src="assests/js/contact-form.js"></script>
    <script src="assests/js/jquery.ajaxchimp.js"></script>
    <script src="assests/js/jquery.sticky.js"></script>

    <!--===== ACTIVE JS=====-->
    <script src="assests/js/main.js"></script>

    <!--===== MAPS JS=====-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTS_KEDfHXYBslFTI_qPJIybDP3eceE-A&amp;sensor=false"></script>
    <script src="assests/js/maps.active.js"></script>
</body>


<!-- Mirrored from 5.189.146.92/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Jun 2018 07:27:04 GMT -->
</html>
